flows.json
[
    {
        "id": "ee7062332b16ffb9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "950305dd92b2f548",
        "type": "tab",
        "label": "Quizz",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "177e3ab8e265b7f9",
        "type": "http in",
        "z": "ee7062332b16ffb9",
        "name": "",
        "url": "user",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "85c7d91b2931f0d6",
                "fb60981a682f778a"
            ]
        ]
    },
    {
        "id": "207163006e574f42",
        "type": "http response",
        "z": "ee7062332b16ffb9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "85c7d91b2931f0d6",
        "type": "function",
        "z": "ee7062332b16ffb9",
        "name": "function 1",
        "func": "msg.payload = [1,2,3]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "207163006e574f42"
            ]
        ]
    },
    {
        "id": "fb60981a682f778a",
        "type": "debug",
        "z": "ee7062332b16ffb9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "2154ec7ab59fb419",
        "type": "http in",
        "z": "ee7062332b16ffb9",
        "name": "",
        "url": "user/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "1cd7034069e8ee5d",
                "db4fa786ab3b663d"
            ]
        ]
    },
    {
        "id": "ed3aa09bc4f810df",
        "type": "http response",
        "z": "ee7062332b16ffb9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "1cd7034069e8ee5d",
        "type": "function",
        "z": "ee7062332b16ffb9",
        "name": "function 2",
        "func": "msg.payload = [1,2,3]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "ed3aa09bc4f810df"
            ]
        ]
    },
    {
        "id": "db4fa786ab3b663d",
        "type": "debug",
        "z": "ee7062332b16ffb9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "c14bc8bd0a07b0ff",
        "type": "http in",
        "z": "950305dd92b2f548",
        "name": "",
        "url": "/quiz/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "1268d66a46c86bc1"
            ]
        ]
    },
    {
        "id": "9b078eb4561d0e84",
        "type": "http response",
        "z": "950305dd92b2f548",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "84928a4276313d48",
        "type": "function",
        "z": "950305dd92b2f548",
        "name": "function ",
        "func": "msg.payload = \n  {\n    \"quizTestId\": \"288fd7f3-97f0-4725-ac96-b17d60fe28bd\",\n    \"title\": \"Honorable\",\n    \"description\": \"Remove head/neck dev NEC\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Man of the Year\",\n        \"quizId\": \"f7a45c59-ce95-441f-b617-72a027e86a62\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"64b4e7cf-b8f0-4c70-bbab-369c1852e767\", \"content\": \"Geological Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"3a2724f6-9470-48a3-a421-b13b2f40b87c\", \"content\": \"Occupational Therapist\", \"isCorrect\": false },\n          { \"ansId\": \"d1585fe0-ca4a-48f3-90d1-74a4567abf92\", \"content\": \"GIS Technical Architect\", \"isCorrect\": false },\n          { \"ansId\": \"d936b972-c0fb-4c79-a4c6-b65268e19346\", \"content\": \"Staff Scientist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Dangerous Liaisons\",\n        \"quizId\": \"138a7c3a-e677-4e97-bc11-d4d10e7cbbf1\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"e1e31e0c-0c75-4b17-8041-657f747c6287\", \"content\": \"Geological Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"60435859-7a1f-490a-8c07-7db10de1fbad\", \"content\": \"Software Test Engineer IV\", \"isCorrect\": false },\n          { \"ansId\": \"270028cc-447e-4c2c-9c80-ec723458cfd7\", \"content\": \"Community Outreach Specialist\", \"isCorrect\": false },\n          { \"ansId\": \"ee0ee98f-0249-4bf6-99b6-300479721252\", \"content\": \"Structural Analysis Engineer\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Held Up\",\n        \"quizId\": \"330423f5-71e7-44cb-b118-8682cb052447\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"6554d098-e981-4267-8209-20193032ba95\", \"content\": \"Computer Systems Analyst I\", \"isCorrect\": false },\n          { \"ansId\": \"d0547cc4-9cc7-4205-a8da-9d6651d0d124\", \"content\": \"Occupational Therapist\", \"isCorrect\": false },\n          { \"ansId\": \"c421faab-8214-42c4-ab8d-c845b81c0f47\", \"content\": \"Civil Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"ce3f0693-dfe8-44b3-a4cf-d704f9141179\", \"content\": \"Budget/Accounting Analyst II\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Occurrence at Owl Creek Bridge, An (La rivière du hibou)\",\n        \"quizId\": \"fee3195d-ade8-4d8a-b089-6b95a369fd13\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"3299593d-f951-4672-823c-475b056c4711\", \"content\": \"Cost Accountant\", \"isCorrect\": true },\n          { \"ansId\": \"946ac762-82c7-4c48-ba66-405e58adcc21\", \"content\": \"Associate Professor\", \"isCorrect\": true },\n          { \"ansId\": \"5726d164-d38a-414a-865e-dc80b098c065\", \"content\": \"Staff Accountant I\", \"isCorrect\": true },\n          { \"ansId\": \"4f9e9778-07d2-4c73-8b0f-777d8a69ed5f\", \"content\": \"Senior Cost Accountant\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"One Night of Love\",\n        \"quizId\": \"d6455516-d903-4992-a1ec-fa72bf52d803\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"0b3c913d-d3f5-446b-ab71-502cb327ce79\", \"content\": \"Compensation Analyst\", \"isCorrect\": true },\n          { \"ansId\": \"922c3ee1-fd03-4b6d-ba6e-07a95bcb0c50\", \"content\": \"Occupational Therapist\", \"isCorrect\": true },\n          { \"ansId\": \"a7e28232-f2e3-40dc-a094-ff852650b2bc\", \"content\": \"Help Desk Technician\", \"isCorrect\": false },\n          { \"ansId\": \"a5fab5f2-e2b9-443e-978b-5ed59edfed79\", \"content\": \"Senior Editor\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"To Die Like a Man (Morrer Como Um Homem)\",\n        \"quizId\": \"ac368bfe-3e15-485b-8f1d-0ef68b21814b\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"5669c06f-3e94-4d84-ba87-1c9df3e39b98\", \"content\": \"Graphic Designer\", \"isCorrect\": true },\n          { \"ansId\": \"71aa11da-6b31-470e-80fe-a27c6425beeb\", \"content\": \"Assistant Media Planner\", \"isCorrect\": false },\n          { \"ansId\": \"f20a6e66-f49f-47d9-87c8-2c5a4f01a9ec\", \"content\": \"Operator\", \"isCorrect\": true },\n          { \"ansId\": \"495f96da-f53f-4141-ba54-df405bff6b82\", \"content\": \"VP Product Management\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"On the Beach\",\n        \"quizId\": \"8424cdf7-4c24-47df-b375-4f72b21968f8\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"e64ebed9-d80e-48bc-afc5-1b3969e53ca5\", \"content\": \"Technical Writer\", \"isCorrect\": true },\n          { \"ansId\": \"ac776c7e-9882-47ad-adce-054a9f10d003\", \"content\": \"Administrative Officer\", \"isCorrect\": true },\n          { \"ansId\": \"95152e16-4a3e-4ca5-9985-bf0b431210a4\", \"content\": \"Developer IV\", \"isCorrect\": true },\n          { \"ansId\": \"0a4bfbd0-19a0-4c75-9bf6-4ec02bc3d3dd\", \"content\": \"Administrative Assistant III\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Chocchan's Story (Chocchan monogatari)\",\n        \"quizId\": \"00fc6178-334d-4fd2-9326-eea887ad5a88\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"083fe9a8-fe6e-4436-a2d8-17ac5c8042ff\", \"content\": \"VP Accounting\", \"isCorrect\": false },\n          { \"ansId\": \"386cbf2c-8987-429d-9ece-060dd795afba\", \"content\": \"VP Sales\", \"isCorrect\": false },\n          { \"ansId\": \"0108a987-ae7a-4e56-8493-66a016925357\", \"content\": \"General Manager\", \"isCorrect\": true },\n          { \"ansId\": \"bbf943d3-f9d6-4170-8524-99d71ca6d0ac\", \"content\": \"Budget/Accounting Analyst I\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Fast Times at Ridgemont High\",\n        \"quizId\": \"fbd6a3fc-6219-4513-9b7f-c44d7b3642c1\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"3a3467fe-00a7-498e-aeba-0ca7f279650a\", \"content\": \"Design Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"e4053d14-934c-49c3-b42f-5b7b046d8556\", \"content\": \"Pharmacist\", \"isCorrect\": true },\n          { \"ansId\": \"5385a8c5-54ba-49a1-868f-b1e911068794\", \"content\": \"Sales Representative\", \"isCorrect\": false },\n          { \"ansId\": \"72e1a60e-16bf-4158-88b3-46a147fdd1d9\", \"content\": \"Internal Auditor\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"World's Greatest Lover, The\",\n        \"quizId\": \"b3927f3e-2524-48a1-93ce-3522c1dbc2fa\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"473cd947-42ac-4a3e-8392-73632e43d2ee\", \"content\": \"Business Systems Development Analyst\", \"isCorrect\": true },\n          { \"ansId\": \"317e707d-0351-4dea-a61d-0f144532183b\", \"content\": \"Research Associate\", \"isCorrect\": false },\n          { \"ansId\": \"8c7288d7-4b21-466e-ac64-c7ca1d085214\", \"content\": \"Quality Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"3047b556-bf72-4d57-8fd6-b2a787006678\", \"content\": \"Senior Financial Analyst\", \"isCorrect\": false }\n        ]\n      }\n    ]\n  },\n  {\n    \"quizTestId\": \"db764581-c108-4d4b-bca8-f10ee94d510a\",\n    \"title\": \"Ms\",\n    \"description\": \"Incis to remov tonsil FB\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Lonely Wife, The (Charulata)\",\n        \"quizId\": \"6127f785-709e-4785-ad7b-243ff1d633b6\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"6b785d9b-ac13-41f4-b551-dcd4c7eb6639\", \"content\": \"Staff Scientist\", \"isCorrect\": false },\n          { \"ansId\": \"adaeff6a-0331-4901-9939-f884d0073663\", \"content\": \"Recruiter\", \"isCorrect\": true },\n          { \"ansId\": \"482fce06-5e59-4971-b478-e14a21333166\", \"content\": \"Occupational Therapist\", \"isCorrect\": false },\n          { \"ansId\": \"6b564b9b-29ed-4cb9-92da-81784ffd8ff5\", \"content\": \"Safety Technician III\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"The Count of Monte Cristo\",\n        \"quizId\": \"ae185104-9900-41e4-9996-d7523e456338\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"77588c28-b700-4e97-a1e0-cde11cc288b4\", \"content\": \"Product Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"5602c36b-4b29-4e95-b91e-f65cf64b066e\", \"content\": \"Community Outreach Specialist\", \"isCorrect\": false },\n          { \"ansId\": \"711e1b19-1844-4e6d-89c4-a85067872253\", \"content\": \"Sales Associate\", \"isCorrect\": false },\n          { \"ansId\": \"782fffe5-5aeb-4ca6-af97-d8eb8bc00c30\", \"content\": \"Editor\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"The Sword and the Rose\",\n        \"quizId\": \"eb6d363c-ca56-4cb8-a239-c2260ef4dfd6\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"4210dc94-bd98-443f-926d-606fe5280326\", \"content\": \"Tax Accountant\", \"isCorrect\": true },\n          { \"ansId\": \"a784b631-d26f-4219-8ee7-b19623078dc0\", \"content\": \"Junior Executive\", \"isCorrect\": true },\n          { \"ansId\": \"81d48a67-dd7c-4618-81a1-8e709d78dd8a\", \"content\": \"Accountant IV\", \"isCorrect\": true },\n          { \"ansId\": \"48098b7f-16d1-4fd0-81e6-e83fb705a283\", \"content\": \"Financial Analyst\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Dragon Ball GT: A Hero's Legacy (Doragon bôru GT: Gokû gaiden! Yûki no akashi wa sû-shin-chû)\",\n        \"quizId\": \"91b0bd84-d1a5-49e1-ae2a-85cc5cad59e5\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"7012172b-3d8e-4821-b794-4020842d2c72\", \"content\": \"Civil Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"5c920043-1b25-45de-830c-6ceace007017\", \"content\": \"Editor\", \"isCorrect\": true },\n          { \"ansId\": \"eb8ebe1d-67d2-4713-934a-fc8904a0a2e0\", \"content\": \"Product Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"6e699dab-7d32-4c47-b298-137a7cc5edf0\", \"content\": \"Clinical Specialist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Liberty Kid\",\n        \"quizId\": \"53804581-dd65-44da-8696-31d842e9fde9\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"9a29fd32-1e9f-419b-bed3-ff99f4c7c7e5\", \"content\": \"Pharmacist\", \"isCorrect\": true },\n          { \"ansId\": \"f7e73a13-aa39-4105-a4e4-933c4bf4ab00\", \"content\": \"Cost Accountant\", \"isCorrect\": true },\n          { \"ansId\": \"51ecdea8-15ef-426a-8ee7-c4aee80beee0\", \"content\": \"VP Quality Control\", \"isCorrect\": true },\n          { \"ansId\": \"a5a20704-f404-4a91-8128-259f77f2844b\", \"content\": \"Quality Engineer\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Earth Dies Screaming, The\",\n        \"quizId\": \"009e8ef1-4e53-46d2-a27f-eb02b56e7e58\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"d7365476-9e9f-4b04-827e-785ddab9c39d\", \"content\": \"VP Product Management\", \"isCorrect\": false },\n          { \"ansId\": \"3c7fdf04-c0df-47c6-bf09-7d55b96ffad5\", \"content\": \"Project Manager\", \"isCorrect\": true },\n          { \"ansId\": \"b360b2e4-eff2-4766-bbdc-d18a4c4dcea4\", \"content\": \"Geological Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"a8e1d8e8-7fec-473c-9b22-10a3787870c3\", \"content\": \"Assistant Manager\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Whole Wide World, The\",\n        \"quizId\": \"79e443ba-10d1-4e88-9426-c16017c4b4a9\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"4f5db3fa-f827-4b83-879c-ab2b669d31ea\", \"content\": \"Legal Assistant\", \"isCorrect\": false },\n          { \"ansId\": \"590e465e-5fb8-4fcc-9719-99eca0d631fa\", \"content\": \"Sales Representative\", \"isCorrect\": true },\n          { \"ansId\": \"07389f44-13a6-445f-a09d-46072bd46fd6\", \"content\": \"Director of Sales\", \"isCorrect\": true },\n          { \"ansId\": \"917f8d86-efed-437d-a9a5-e4e0f8d297ac\", \"content\": \"Social Worker\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Second Chance, The\",\n        \"quizId\": \"78512b79-a7b5-40d1-9c92-f6d94109e2cc\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"561a0eb1-9674-4dd8-9fe1-c2d62cbf0c2c\", \"content\": \"General Manager\", \"isCorrect\": true },\n          { \"ansId\": \"22854bea-6f64-49af-8ff8-afa957300552\", \"content\": \"Help Desk Operator\", \"isCorrect\": false },\n          { \"ansId\": \"0fe7abf8-9beb-4635-8c0d-9a04959a59fa\", \"content\": \"Editor\", \"isCorrect\": true },\n          { \"ansId\": \"c20441f3-f618-4435-bbd6-daf45f9c4a24\", \"content\": \"Senior Cost Accountant\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Lupin III: The Castle Of Cagliostro (Rupan sansei: Kariosutoro no shiro)\",\n        \"quizId\": \"2d448eca-3023-48d4-a04b-75d29ad596cc\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"bb5b56d5-a8bd-43c6-9020-42a46b0460f6\", \"content\": \"Accounting Assistant IV\", \"isCorrect\": false },\n          { \"ansId\": \"ad1461a9-921e-4f74-81a4-764ff547cb6e\", \"content\": \"Research Associate\", \"isCorrect\": false },\n          { \"ansId\": \"5879da46-4380-4301-8f94-fb96e1a68161\", \"content\": \"Account Executive\", \"isCorrect\": false },\n          { \"ansId\": \"16c85298-4938-446f-aba0-e4809713451a\", \"content\": \"Pharmacist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Perfect Couple, A\",\n        \"quizId\": \"22fddc3f-2115-4ed0-9bbc-12d58ac638da\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"186cd5aa-2e82-4159-b499-a3f05e9eb364\", \"content\": \"Clinical Specialist\", \"isCorrect\": true },\n          { \"ansId\": \"9f8f41d3-3a7c-46cb-a206-faf4bc64b9bb\", \"content\": \"Project Manager\", \"isCorrect\": true },\n          { \"ansId\": \"10c3a1e8-a8b6-4f08-86eb-fac9834c782b\", \"content\": \"Software Test Engineer I\", \"isCorrect\": true },\n          { \"ansId\": \"51baaacd-89c2-4e7c-b9c5-9dfb26e317a9\", \"content\": \"VP Product Management\", \"isCorrect\": false }\n        ]\n      }\n    ]\n  },\n  {\n    \"quizTestId\": \"d993c4c1-eade-4bb9-9035-52b4e4c9bab7\",\n    \"title\": \"Dr\",\n    \"description\": \"Impl other limb length\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Swarm, The\",\n        \"quizId\": \"adfff736-a170-4c04-8cc4-f76105e24d93\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"833a281d-41c1-4d8f-96b9-4770343c2022\", \"content\": \"Social Worker\", \"isCorrect\": false },\n          { \"ansId\": \"02a0d819-7e85-44c8-8a1c-c074cebf2656\", \"content\": \"Director of Sales\", \"isCorrect\": true },\n          { \"ansId\": \"8d8d131f-0f31-4181-8218-c296791f9edd\", \"content\": \"Computer Systems Analyst IV\", \"isCorrect\": false },\n          { \"ansId\": \"18bcc77a-a00c-48ac-9eca-bf52ad6111e3\", \"content\": \"Legal Assistant\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"The Lost Squadron\",\n        \"quizId\": \"ed03941f-f7bf-4906-87ca-28b0b41130c2\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"7a286762-b58f-40d0-9bf0-1a49fd166c6c\", \"content\": \"Financial Analyst\", \"isCorrect\": true },\n          { \"ansId\": \"da29255a-61f9-47be-9c28-9b1273f10366\", \"content\": \"Librarian\", \"isCorrect\": false },\n          { \"ansId\": \"ac25e01b-1feb-4426-b755-680f202519de\", \"content\": \"Environmental Tech\", \"isCorrect\": false },\n          { \"ansId\": \"629f0b0b-0dac-40da-818a-92268b78fa04\", \"content\": \"Automation Specialist IV\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"F.I.S.T.\",\n        \"quizId\": \"323b1df2-3844-4c49-aabb-003503b8db53\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"e056a1d9-f1ca-426d-a2d6-f73562b3f46c\", \"content\": \"Statistician II\", \"isCorrect\": false },\n          { \"ansId\": \"9eec34ec-1239-4efc-8d43-5741abe643f9\", \"content\": \"Account Representative IV\", \"isCorrect\": false },\n          { \"ansId\": \"4431d20e-3720-4897-b43d-abe346c6d537\", \"content\": \"Web Designer III\", \"isCorrect\": true },\n          { \"ansId\": \"7217fc1c-4cdb-492c-b51a-08583fc2d538\", \"content\": \"VP Accounting\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Cruise, The\",\n        \"quizId\": \"9c60b41a-a444-43ec-a407-64309a691e26\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"e6ea7953-00af-4e48-9714-cd9687015b79\", \"content\": \"Staff Scientist\", \"isCorrect\": false },\n          { \"ansId\": \"f76f16bc-a9be-4664-8b41-75327601f210\", \"content\": \"Clinical Specialist\", \"isCorrect\": false },\n          { \"ansId\": \"bbead46d-1e1a-490d-b5bf-891580ecc053\", \"content\": \"Administrative Assistant IV\", \"isCorrect\": false },\n          { \"ansId\": \"acc94740-7c19-4001-be95-194727ad2c54\", \"content\": \"Technical Writer\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Endeavour\",\n        \"quizId\": \"3e3ad603-fca7-4af8-b28b-d973f8238b18\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"7e6ca09b-b580-478d-a85a-5532db1fdc2e\", \"content\": \"Account Representative II\", \"isCorrect\": true },\n          { \"ansId\": \"e2661b62-4f46-4548-8e95-2e2eb4aa21fd\", \"content\": \"Chemical Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"84e7e797-5973-4944-9d62-47e70813b56c\", \"content\": \"Software Consultant\", \"isCorrect\": true },\n          { \"ansId\": \"e3716635-decf-4bdf-98ce-49707e1edfa7\", \"content\": \"Automation Specialist I\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"A Rumor Of War\",\n        \"quizId\": \"47fc7b78-ea7e-4ffa-8139-6a3c76a72632\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"328953d3-d3eb-43b3-92a2-699125d02e59\", \"content\": \"Dental Hygienist\", \"isCorrect\": true },\n          { \"ansId\": \"20114b36-40bb-4531-9677-ea48f39bc76a\", \"content\": \"Geologist III\", \"isCorrect\": true },\n          { \"ansId\": \"873fe354-3a2d-4c0b-99df-3563f948f520\", \"content\": \"VP Sales\", \"isCorrect\": false },\n          { \"ansId\": \"f85e1315-a099-4fd8-8314-2781f7b40592\", \"content\": \"Business Systems Development Analyst\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Quick and the Dead, The\",\n        \"quizId\": \"a2d26f3b-55a4-4cb5-ab84-d1d27240ffb8\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"b51960f6-37e4-4819-bdec-a71ed5a54e36\", \"content\": \"Project Manager\", \"isCorrect\": false },\n          { \"ansId\": \"4a09dc0a-02a7-47bf-9a6b-cebf0924b227\", \"content\": \"Information Systems Manager\", \"isCorrect\": true },\n          { \"ansId\": \"fc392422-9e94-4b80-b771-d8da016ba6e6\", \"content\": \"Help Desk Operator\", \"isCorrect\": true },\n          { \"ansId\": \"e2611c98-aed2-45d5-9161-2e2137791f33\", \"content\": \"Sales Associate\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Constantine\",\n        \"quizId\": \"cd9dc684-4977-4a19-ace6-e7c97bc2dfd5\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"3eb33549-3eb8-4730-98c0-e20d6d18c3a6\", \"content\": \"Sales Associate\", \"isCorrect\": false },\n          { \"ansId\": \"0544b99e-b483-49be-a5fe-03d7b7b35086\", \"content\": \"Account Representative II\", \"isCorrect\": false },\n          { \"ansId\": \"fb233412-01b3-48dc-b074-168d3e7e4b6d\", \"content\": \"Senior Sales Associate\", \"isCorrect\": true },\n          { \"ansId\": \"d05ac9c2-3942-4bd2-b666-b76eba22634a\", \"content\": \"Biostatistician IV\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Borderland\",\n        \"quizId\": \"36b3c0a3-777f-4412-9ce3-5b64e01bf8c7\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"8dc017e1-6725-4f71-a6b1-007a9824281c\", \"content\": \"VP Accounting\", \"isCorrect\": false },\n          { \"ansId\": \"2567e69e-370a-44d7-af47-e08d8431d4c5\", \"content\": \"Account Representative III\", \"isCorrect\": false },\n          { \"ansId\": \"9e644531-6de6-4b39-a093-ebd32b70c944\", \"content\": \"Safety Technician II\", \"isCorrect\": true },\n          { \"ansId\": \"24ed478e-2087-4304-9bc5-49da82877547\", \"content\": \"Food Chemist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Man Escaped, A (Un  condamné à mort s'est échappé ou Le vent souffle où il veut)\",\n        \"quizId\": \"9835715a-c2c4-4973-8838-d02fa953354a\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"60e83787-fa2d-4838-a3ca-fa4fa478708d\", \"content\": \"Systems Administrator II\", \"isCorrect\": false },\n          { \"ansId\": \"f96b5b77-8c09-45bb-befd-e887e7802b5f\", \"content\": \"Database Administrator I\", \"isCorrect\": true },\n          { \"ansId\": \"9a12806f-c0f3-4fc9-81e4-840fd4c66fc7\", \"content\": \"Systems Administrator II\", \"isCorrect\": false },\n          { \"ansId\": \"cac935a3-8e0f-4824-9a84-be426f83cf44\", \"content\": \"Office Assistant II\", \"isCorrect\": false }\n        ]\n      }\n    ]\n  },\n  {\n    \"quizTestId\": \"460cbdb4-9b3a-4b64-8a4c-57e8ba1fc1f8\",\n    \"title\": \"Rev\",\n    \"description\": \"Detach ret photocoag NOS\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Ben\",\n        \"quizId\": \"6561ce6f-3bcd-48e6-9e99-ec29949e67a5\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"7102b4b7-50d5-4aa7-b60a-43db7c8e8deb\", \"content\": \"Senior Developer\", \"isCorrect\": false },\n          { \"ansId\": \"a65eda58-d56a-4f04-a604-0821d64985d9\", \"content\": \"Financial Advisor\", \"isCorrect\": false },\n          { \"ansId\": \"c25b8194-adb7-4910-920f-5009f323317e\", \"content\": \"Librarian\", \"isCorrect\": false },\n          { \"ansId\": \"7ffeb767-93ac-42bb-8694-92f364dba76d\", \"content\": \"Community Outreach Specialist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Terminal Velocity\",\n        \"quizId\": \"15c64c03-b61b-4301-8aac-3f5f254756ff\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"eff49c0e-489a-4ccd-ab53-445ff2f20a07\", \"content\": \"VP Sales\", \"isCorrect\": true },\n          { \"ansId\": \"ed6d6060-dc23-4cfd-b119-9a0b0b2414aa\", \"content\": \"Project Manager\", \"isCorrect\": true },\n          { \"ansId\": \"f08f2149-10b4-42cc-9ec9-7da6ed9deea0\", \"content\": \"Design Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"ed216ad8-460b-48a8-babe-83c6383a352f\", \"content\": \"Registered Nurse\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Glory\",\n        \"quizId\": \"97f108e3-2b20-44c3-ace9-9048406c6cee\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"4ddd0636-b7c7-479b-9bef-4fbdb86dd4f4\", \"content\": \"Desktop Support Technician\", \"isCorrect\": true },\n          { \"ansId\": \"3e5c03b3-50c5-4421-b2b0-82d71fa3cb5c\", \"content\": \"Database Administrator IV\", \"isCorrect\": false },\n          { \"ansId\": \"122e5071-b618-4b7f-a57a-40b390ab770f\", \"content\": \"Product Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"3f68149f-7aba-48ad-ac22-d416f25797e3\", \"content\": \"Financial Advisor\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Fuga de cerebros\",\n        \"quizId\": \"7e7a11f9-bf2e-4bb5-b6e9-0418ee6ae363\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"cb93a0e6-43cd-441d-9b0e-68ed0b34abb4\", \"content\": \"Speech Pathologist\", \"isCorrect\": true },\n          { \"ansId\": \"8a06f55d-d1bd-42b5-a1c2-8d7fdcf4d524\", \"content\": \"Structural Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"d6e5291f-8523-4985-965d-c63531f7ea81\", \"content\": \"Programmer I\", \"isCorrect\": false },\n          { \"ansId\": \"c3854109-398a-44f8-a2e4-46ddebd1b0df\", \"content\": \"Assistant Manager\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Cheech & Chong's Nice Dreams\",\n        \"quizId\": \"f3bd750f-427e-4875-b985-a50e504439cc\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"e545bec8-efc7-4bd1-a0dd-3018d3f58949\", \"content\": \"Web Designer IV\", \"isCorrect\": false },\n          { \"ansId\": \"3a5cd4c8-5de5-444f-976b-431c139928fd\", \"content\": \"Administrative Officer\", \"isCorrect\": true },\n          { \"ansId\": \"04503ff5-e809-4301-8854-b60ad8892769\", \"content\": \"Human Resources Assistant I\", \"isCorrect\": true },\n          { \"ansId\": \"95ad2eaf-9d34-44af-9c69-02c954a07c80\", \"content\": \"Human Resources Assistant II\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Filth\",\n        \"quizId\": \"8f1b934e-b515-4c14-8a98-5304d023c29c\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"581dc5db-55a3-4a70-b556-c913cd26103a\", \"content\": \"Database Administrator II\", \"isCorrect\": true },\n          { \"ansId\": \"8c20b5fb-1cff-4f71-8848-3f1f089039af\", \"content\": \"Professor\", \"isCorrect\": false },\n          { \"ansId\": \"55e52160-4834-4020-9747-ae39dcf1aab7\", \"content\": \"Internal Auditor\", \"isCorrect\": true },\n          { \"ansId\": \"81801059-0216-49be-b315-a0b49f706b8b\", \"content\": \"VP Quality Control\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Those Magnificent Men in Their Flying Machines\",\n        \"quizId\": \"9ce4d509-f780-4c1b-af24-1ca4425a10a7\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"1cce8c1f-50c9-4bf4-a6ea-e2dc051fddfc\", \"content\": \"Quality Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"91393bc9-9e9a-4c87-baff-b4daae540092\", \"content\": \"Compensation Analyst\", \"isCorrect\": false },\n          { \"ansId\": \"cf26dd0b-6b7e-4a78-9a21-7de6f635a768\", \"content\": \"Editor\", \"isCorrect\": false },\n          { \"ansId\": \"33592cb3-43c5-40f8-af37-3fd1bba13f04\", \"content\": \"Software Test Engineer II\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Autobiography of Miss Jane Pittman, The\",\n        \"quizId\": \"d1689e98-6cb7-4c26-a946-a37fe48aed0c\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"17cee8e3-967f-4131-bebb-6c5d45e53cfc\", \"content\": \"Product Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"83d06a86-8fcb-45bd-81c0-6336e8650eee\", \"content\": \"Analyst Programmer\", \"isCorrect\": true },\n          { \"ansId\": \"df81c56d-759f-4864-adad-985b444ed42a\", \"content\": \"GIS Technical Architect\", \"isCorrect\": false },\n          { \"ansId\": \"d3cd5ef0-c882-4e4a-aca2-07d88a9c6b24\", \"content\": \"Structural Engineer\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Near Dark\",\n        \"quizId\": \"2cfc5384-37c3-4204-b854-dfed47a41069\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"304545c3-a335-4c7d-aed8-4d3442c08f5b\", \"content\": \"Dental Hygienist\", \"isCorrect\": false },\n          { \"ansId\": \"df1eea0e-c07a-484a-be02-87ff78c7ba5b\", \"content\": \"Marketing Manager\", \"isCorrect\": true },\n          { \"ansId\": \"306ee069-0dc9-4a8f-a1d3-c10944fed4b0\", \"content\": \"Geological Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"6bc3f118-31fc-475d-87fa-4b8ab5012ef5\", \"content\": \"Financial Analyst\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Return of Swamp Thing, The\",\n        \"quizId\": \"db0d4905-983b-40bf-b621-ed162e5faa4d\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"af8d9c21-1138-4e82-bf14-f54a67ed3fe6\", \"content\": \"Registered Nurse\", \"isCorrect\": true },\n          { \"ansId\": \"29c711b3-d2d5-4f0e-b889-a9d7e2e6879f\", \"content\": \"Financial Advisor\", \"isCorrect\": true },\n          { \"ansId\": \"8b12aad2-d737-4b86-9949-edf1cd01c815\", \"content\": \"Health Coach III\", \"isCorrect\": false },\n          { \"ansId\": \"ec7c3f5c-db99-4dc7-85ee-76e6eadceac1\", \"content\": \"Community Outreach Specialist\", \"isCorrect\": true }\n        ]\n      }\n    ]\n  },\n  {\n    \"quizTestId\": \"f32edc8a-2025-4f23-9f31-1f3d8dd64cf8\",\n    \"title\": \"Mr\",\n    \"description\": \"Removal vulvar FB\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Forest Warrior\",\n        \"quizId\": \"e71de4cf-a997-41c2-8912-377e9061db00\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"6350e491-4fb8-405e-9c19-3bd984b74e68\", \"content\": \"Internal Auditor\", \"isCorrect\": false },\n          { \"ansId\": \"bf37313e-baa1-4125-9a4a-953a320b22c7\", \"content\": \"Editor\", \"isCorrect\": true },\n          { \"ansId\": \"2ea7eaa3-58d7-4fef-bfa6-9441b30c9285\", \"content\": \"Research Assistant III\", \"isCorrect\": true },\n          { \"ansId\": \"858de55b-ad23-48c6-9129-b69a8a741302\", \"content\": \"Account Executive\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Charms for the Easy Life\",\n        \"quizId\": \"0b1df407-4cfd-425f-ab39-a40dc08d130a\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"5eb546ec-f17e-46a3-ac1d-99004eeead9c\", \"content\": \"Administrative Assistant II\", \"isCorrect\": false },\n          { \"ansId\": \"32efd4ff-1a73-4e57-87e0-8c116ddac0e1\", \"content\": \"Senior Developer\", \"isCorrect\": true },\n          { \"ansId\": \"18b1b64b-5863-49a7-9702-fad8ede5552b\", \"content\": \"Food Chemist\", \"isCorrect\": true },\n          { \"ansId\": \"e54f7f8b-aa4f-45a1-a4ee-99ba73d31ea5\", \"content\": \"VP Accounting\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Carey Treatment, The\",\n        \"quizId\": \"80e24877-39a1-4bc0-9144-7e8f9368debb\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"313d1d7a-c6c1-489d-b835-0083aa42d737\", \"content\": \"Developer I\", \"isCorrect\": true },\n          { \"ansId\": \"fdbad029-a418-4fb9-8411-7f8a7423130e\", \"content\": \"Desktop Support Technician\", \"isCorrect\": true },\n          { \"ansId\": \"2bbb4bbd-1bf5-4352-8a06-1ab7a4373fe7\", \"content\": \"Assistant Professor\", \"isCorrect\": false },\n          { \"ansId\": \"2b2a3f6e-00fc-4a06-9306-6ed65c5a5224\", \"content\": \"Design Engineer\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Godzilla 1985: The Legend Is Reborn (Gojira) (Godzilla) (Return of Godzilla, The)\",\n        \"quizId\": \"52cd8e74-f62e-4889-b702-bb402feae4dd\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"2b65bdb8-b8d2-475f-a81f-7575bb0ca696\", \"content\": \"Legal Assistant\", \"isCorrect\": false },\n          { \"ansId\": \"4a307446-3783-445e-8dc8-cef4bc5f477a\", \"content\": \"Nuclear Power Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"54e74b90-6592-4488-b139-1cc12556fc16\", \"content\": \"Administrative Assistant IV\", \"isCorrect\": true },\n          { \"ansId\": \"e2249dd5-fc9d-43db-b0bd-7ab7b4abd878\", \"content\": \"Junior Executive\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"JFK: The Smoking Gun\",\n        \"quizId\": \"87785cb7-007c-412f-ba96-169462e52676\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"db7a667d-ba07-4f84-9f43-019e5211bfdc\", \"content\": \"Structural Analysis Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"4e9e3776-0ea2-45a3-b912-613f00c52276\", \"content\": \"Senior Quality Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"0bb3ba67-94c5-467a-ae66-a92d5c4fd345\", \"content\": \"Electrical Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"12311e0a-ab89-4c20-ae68-74476fa42f04\", \"content\": \"VP Sales\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"The Expelled\",\n        \"quizId\": \"80d053c0-ebfc-41bc-bdb2-03948f0c04fc\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"e4f6588f-a387-4501-844d-a96c8a8185b6\", \"content\": \"Social Worker\", \"isCorrect\": false },\n          { \"ansId\": \"42250c76-deca-4c16-9254-a91d3bed55fc\", \"content\": \"Senior Developer\", \"isCorrect\": true },\n          { \"ansId\": \"0f010940-c49d-4b4a-a30b-59049104f326\", \"content\": \"Marketing Assistant\", \"isCorrect\": true },\n          { \"ansId\": \"fe287c75-fe5b-4bd7-aab1-263f6f5e2c91\", \"content\": \"Recruiter\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Pootie Tang\",\n        \"quizId\": \"f51f75ab-5a24-45ba-bec5-9e535a542ea0\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"7d7aac68-595a-4c60-bbb4-b14a6a1969f4\", \"content\": \"Assistant Professor\", \"isCorrect\": true },\n          { \"ansId\": \"4e29039d-fe71-425e-a2c1-6f46de569099\", \"content\": \"Programmer III\", \"isCorrect\": false },\n          { \"ansId\": \"a41e190c-7491-4423-b6cf-73250f93c707\", \"content\": \"Financial Analyst\", \"isCorrect\": true },\n          { \"ansId\": \"916ddd93-6dbd-4a50-a341-d72f5def1623\", \"content\": \"Assistant Manager\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Eichmann\",\n        \"quizId\": \"6e517662-dbd7-403a-853d-0471378cd08a\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"6788b270-3a8a-4ea7-9d8a-ecd22676965f\", \"content\": \"Account Coordinator\", \"isCorrect\": false },\n          { \"ansId\": \"81f02e77-6439-4676-ae0f-c0d2d206a83e\", \"content\": \"Database Administrator II\", \"isCorrect\": true },\n          { \"ansId\": \"b3f14b8d-2c2f-45f3-895b-0f58c3f8b2d5\", \"content\": \"Programmer II\", \"isCorrect\": true },\n          { \"ansId\": \"1c841435-b722-4699-b18a-fb0629865c5b\", \"content\": \"Marketing Assistant\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Never Sleep Again: The Elm Street Legacy\",\n        \"quizId\": \"2783f4f1-5d46-444f-9677-961004cc18e2\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"8a8da363-bd41-451b-86ee-595ddc47681a\", \"content\": \"Internal Auditor\", \"isCorrect\": false },\n          { \"ansId\": \"4f802fbb-dec9-4916-9755-891cdf64ccec\", \"content\": \"Senior Quality Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"d782a868-6833-49c1-83a9-910f0074ab33\", \"content\": \"Software Test Engineer II\", \"isCorrect\": true },\n          { \"ansId\": \"0bf98cc6-9bd3-4b95-8758-950209c132bb\", \"content\": \"Operator\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Intouchables\",\n        \"quizId\": \"6d4b3cc8-32e0-4446-ab03-ad0521a6ecfc\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"dcb070af-38fa-4bab-9914-c39095053e25\", \"content\": \"Human Resources Manager\", \"isCorrect\": false },\n          { \"ansId\": \"9598664e-1c4d-4741-a4e6-cdf59bbbdc76\", \"content\": \"Nuclear Power Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"fb8b6b4c-9693-4f13-87f6-74deb3d57f2a\", \"content\": \"Geological Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"aba553cc-ed6b-4283-a3ab-b5eba2408e82\", \"content\": \"Professor\", \"isCorrect\": false }\n        ]\n      }\n    ]\n  }\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "38acde2e2ab08372"
            ]
        ]
    },
    {
        "id": "38acde2e2ab08372",
        "type": "function",
        "z": "950305dd92b2f548",
        "name": "function 20",
        "func": "msg.payload.lsQuizz.forEach(function(quiz) {\n        quiz.answer.forEach(function(answer) {\n            delete answer.isCorrect;\n        });\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0cd8270a7d5c44d7",
        "type": "http in",
        "z": "950305dd92b2f548",
        "name": "",
        "url": "/quiz/:id/answer",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "25bea2f581713f7e"
            ]
        ]
    },
    {
        "id": "f6ed4a14b5584c1d",
        "type": "http response",
        "z": "950305dd92b2f548",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "25bea2f581713f7e",
        "type": "function",
        "z": "950305dd92b2f548",
        "name": "function 5",
        "func": "msg.payload = \n  {\n    \"quizTestId\": \"288fd7f3-97f0-4725-ac96-b17d60fe28bd\",\n    \"title\": \"Honorable\",\n    \"description\": \"Remove head/neck dev NEC\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Man of the Year\",\n        \"quizId\": \"f7a45c59-ce95-441f-b617-72a027e86a62\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"64b4e7cf-b8f0-4c70-bbab-369c1852e767\", \"content\": \"Geological Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"3a2724f6-9470-48a3-a421-b13b2f40b87c\", \"content\": \"Occupational Therapist\", \"isCorrect\": false },\n          { \"ansId\": \"d1585fe0-ca4a-48f3-90d1-74a4567abf92\", \"content\": \"GIS Technical Architect\", \"isCorrect\": false },\n          { \"ansId\": \"d936b972-c0fb-4c79-a4c6-b65268e19346\", \"content\": \"Staff Scientist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Dangerous Liaisons\",\n        \"quizId\": \"138a7c3a-e677-4e97-bc11-d4d10e7cbbf1\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"e1e31e0c-0c75-4b17-8041-657f747c6287\", \"content\": \"Geological Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"60435859-7a1f-490a-8c07-7db10de1fbad\", \"content\": \"Software Test Engineer IV\", \"isCorrect\": false },\n          { \"ansId\": \"270028cc-447e-4c2c-9c80-ec723458cfd7\", \"content\": \"Community Outreach Specialist\", \"isCorrect\": false },\n          { \"ansId\": \"ee0ee98f-0249-4bf6-99b6-300479721252\", \"content\": \"Structural Analysis Engineer\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Held Up\",\n        \"quizId\": \"330423f5-71e7-44cb-b118-8682cb052447\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"6554d098-e981-4267-8209-20193032ba95\", \"content\": \"Computer Systems Analyst I\", \"isCorrect\": false },\n          { \"ansId\": \"d0547cc4-9cc7-4205-a8da-9d6651d0d124\", \"content\": \"Occupational Therapist\", \"isCorrect\": false },\n          { \"ansId\": \"c421faab-8214-42c4-ab8d-c845b81c0f47\", \"content\": \"Civil Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"ce3f0693-dfe8-44b3-a4cf-d704f9141179\", \"content\": \"Budget/Accounting Analyst II\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Occurrence at Owl Creek Bridge, An (La rivière du hibou)\",\n        \"quizId\": \"fee3195d-ade8-4d8a-b089-6b95a369fd13\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"3299593d-f951-4672-823c-475b056c4711\", \"content\": \"Cost Accountant\", \"isCorrect\": true },\n          { \"ansId\": \"946ac762-82c7-4c48-ba66-405e58adcc21\", \"content\": \"Associate Professor\", \"isCorrect\": true },\n          { \"ansId\": \"5726d164-d38a-414a-865e-dc80b098c065\", \"content\": \"Staff Accountant I\", \"isCorrect\": true },\n          { \"ansId\": \"4f9e9778-07d2-4c73-8b0f-777d8a69ed5f\", \"content\": \"Senior Cost Accountant\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"One Night of Love\",\n        \"quizId\": \"d6455516-d903-4992-a1ec-fa72bf52d803\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"0b3c913d-d3f5-446b-ab71-502cb327ce79\", \"content\": \"Compensation Analyst\", \"isCorrect\": true },\n          { \"ansId\": \"922c3ee1-fd03-4b6d-ba6e-07a95bcb0c50\", \"content\": \"Occupational Therapist\", \"isCorrect\": true },\n          { \"ansId\": \"a7e28232-f2e3-40dc-a094-ff852650b2bc\", \"content\": \"Help Desk Technician\", \"isCorrect\": false },\n          { \"ansId\": \"a5fab5f2-e2b9-443e-978b-5ed59edfed79\", \"content\": \"Senior Editor\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"To Die Like a Man (Morrer Como Um Homem)\",\n        \"quizId\": \"ac368bfe-3e15-485b-8f1d-0ef68b21814b\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"5669c06f-3e94-4d84-ba87-1c9df3e39b98\", \"content\": \"Graphic Designer\", \"isCorrect\": true },\n          { \"ansId\": \"71aa11da-6b31-470e-80fe-a27c6425beeb\", \"content\": \"Assistant Media Planner\", \"isCorrect\": false },\n          { \"ansId\": \"f20a6e66-f49f-47d9-87c8-2c5a4f01a9ec\", \"content\": \"Operator\", \"isCorrect\": true },\n          { \"ansId\": \"495f96da-f53f-4141-ba54-df405bff6b82\", \"content\": \"VP Product Management\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"On the Beach\",\n        \"quizId\": \"8424cdf7-4c24-47df-b375-4f72b21968f8\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"e64ebed9-d80e-48bc-afc5-1b3969e53ca5\", \"content\": \"Technical Writer\", \"isCorrect\": true },\n          { \"ansId\": \"ac776c7e-9882-47ad-adce-054a9f10d003\", \"content\": \"Administrative Officer\", \"isCorrect\": true },\n          { \"ansId\": \"95152e16-4a3e-4ca5-9985-bf0b431210a4\", \"content\": \"Developer IV\", \"isCorrect\": true },\n          { \"ansId\": \"0a4bfbd0-19a0-4c75-9bf6-4ec02bc3d3dd\", \"content\": \"Administrative Assistant III\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Chocchan's Story (Chocchan monogatari)\",\n        \"quizId\": \"00fc6178-334d-4fd2-9326-eea887ad5a88\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"083fe9a8-fe6e-4436-a2d8-17ac5c8042ff\", \"content\": \"VP Accounting\", \"isCorrect\": false },\n          { \"ansId\": \"386cbf2c-8987-429d-9ece-060dd795afba\", \"content\": \"VP Sales\", \"isCorrect\": false },\n          { \"ansId\": \"0108a987-ae7a-4e56-8493-66a016925357\", \"content\": \"General Manager\", \"isCorrect\": true },\n          { \"ansId\": \"bbf943d3-f9d6-4170-8524-99d71ca6d0ac\", \"content\": \"Budget/Accounting Analyst I\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Fast Times at Ridgemont High\",\n        \"quizId\": \"fbd6a3fc-6219-4513-9b7f-c44d7b3642c1\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"3a3467fe-00a7-498e-aeba-0ca7f279650a\", \"content\": \"Design Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"e4053d14-934c-49c3-b42f-5b7b046d8556\", \"content\": \"Pharmacist\", \"isCorrect\": true },\n          { \"ansId\": \"5385a8c5-54ba-49a1-868f-b1e911068794\", \"content\": \"Sales Representative\", \"isCorrect\": false },\n          { \"ansId\": \"72e1a60e-16bf-4158-88b3-46a147fdd1d9\", \"content\": \"Internal Auditor\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"World's Greatest Lover, The\",\n        \"quizId\": \"b3927f3e-2524-48a1-93ce-3522c1dbc2fa\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"473cd947-42ac-4a3e-8392-73632e43d2ee\", \"content\": \"Business Systems Development Analyst\", \"isCorrect\": true },\n          { \"ansId\": \"317e707d-0351-4dea-a61d-0f144532183b\", \"content\": \"Research Associate\", \"isCorrect\": false },\n          { \"ansId\": \"8c7288d7-4b21-466e-ac64-c7ca1d085214\", \"content\": \"Quality Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"3047b556-bf72-4d57-8fd6-b2a787006678\", \"content\": \"Senior Financial Analyst\", \"isCorrect\": false }\n        ]\n      }\n    ]\n  },\n  {\n    \"quizTestId\": \"db764581-c108-4d4b-bca8-f10ee94d510a\",\n    \"title\": \"Ms\",\n    \"description\": \"Incis to remov tonsil FB\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Lonely Wife, The (Charulata)\",\n        \"quizId\": \"6127f785-709e-4785-ad7b-243ff1d633b6\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"6b785d9b-ac13-41f4-b551-dcd4c7eb6639\", \"content\": \"Staff Scientist\", \"isCorrect\": false },\n          { \"ansId\": \"adaeff6a-0331-4901-9939-f884d0073663\", \"content\": \"Recruiter\", \"isCorrect\": true },\n          { \"ansId\": \"482fce06-5e59-4971-b478-e14a21333166\", \"content\": \"Occupational Therapist\", \"isCorrect\": false },\n          { \"ansId\": \"6b564b9b-29ed-4cb9-92da-81784ffd8ff5\", \"content\": \"Safety Technician III\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"The Count of Monte Cristo\",\n        \"quizId\": \"ae185104-9900-41e4-9996-d7523e456338\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"77588c28-b700-4e97-a1e0-cde11cc288b4\", \"content\": \"Product Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"5602c36b-4b29-4e95-b91e-f65cf64b066e\", \"content\": \"Community Outreach Specialist\", \"isCorrect\": false },\n          { \"ansId\": \"711e1b19-1844-4e6d-89c4-a85067872253\", \"content\": \"Sales Associate\", \"isCorrect\": false },\n          { \"ansId\": \"782fffe5-5aeb-4ca6-af97-d8eb8bc00c30\", \"content\": \"Editor\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"The Sword and the Rose\",\n        \"quizId\": \"eb6d363c-ca56-4cb8-a239-c2260ef4dfd6\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"4210dc94-bd98-443f-926d-606fe5280326\", \"content\": \"Tax Accountant\", \"isCorrect\": true },\n          { \"ansId\": \"a784b631-d26f-4219-8ee7-b19623078dc0\", \"content\": \"Junior Executive\", \"isCorrect\": true },\n          { \"ansId\": \"81d48a67-dd7c-4618-81a1-8e709d78dd8a\", \"content\": \"Accountant IV\", \"isCorrect\": true },\n          { \"ansId\": \"48098b7f-16d1-4fd0-81e6-e83fb705a283\", \"content\": \"Financial Analyst\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Dragon Ball GT: A Hero's Legacy (Doragon bôru GT: Gokû gaiden! Yûki no akashi wa sû-shin-chû)\",\n        \"quizId\": \"91b0bd84-d1a5-49e1-ae2a-85cc5cad59e5\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"7012172b-3d8e-4821-b794-4020842d2c72\", \"content\": \"Civil Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"5c920043-1b25-45de-830c-6ceace007017\", \"content\": \"Editor\", \"isCorrect\": true },\n          { \"ansId\": \"eb8ebe1d-67d2-4713-934a-fc8904a0a2e0\", \"content\": \"Product Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"6e699dab-7d32-4c47-b298-137a7cc5edf0\", \"content\": \"Clinical Specialist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Liberty Kid\",\n        \"quizId\": \"53804581-dd65-44da-8696-31d842e9fde9\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"9a29fd32-1e9f-419b-bed3-ff99f4c7c7e5\", \"content\": \"Pharmacist\", \"isCorrect\": true },\n          { \"ansId\": \"f7e73a13-aa39-4105-a4e4-933c4bf4ab00\", \"content\": \"Cost Accountant\", \"isCorrect\": true },\n          { \"ansId\": \"51ecdea8-15ef-426a-8ee7-c4aee80beee0\", \"content\": \"VP Quality Control\", \"isCorrect\": true },\n          { \"ansId\": \"a5a20704-f404-4a91-8128-259f77f2844b\", \"content\": \"Quality Engineer\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Earth Dies Screaming, The\",\n        \"quizId\": \"009e8ef1-4e53-46d2-a27f-eb02b56e7e58\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"d7365476-9e9f-4b04-827e-785ddab9c39d\", \"content\": \"VP Product Management\", \"isCorrect\": false },\n          { \"ansId\": \"3c7fdf04-c0df-47c6-bf09-7d55b96ffad5\", \"content\": \"Project Manager\", \"isCorrect\": true },\n          { \"ansId\": \"b360b2e4-eff2-4766-bbdc-d18a4c4dcea4\", \"content\": \"Geological Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"a8e1d8e8-7fec-473c-9b22-10a3787870c3\", \"content\": \"Assistant Manager\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Whole Wide World, The\",\n        \"quizId\": \"79e443ba-10d1-4e88-9426-c16017c4b4a9\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"4f5db3fa-f827-4b83-879c-ab2b669d31ea\", \"content\": \"Legal Assistant\", \"isCorrect\": false },\n          { \"ansId\": \"590e465e-5fb8-4fcc-9719-99eca0d631fa\", \"content\": \"Sales Representative\", \"isCorrect\": true },\n          { \"ansId\": \"07389f44-13a6-445f-a09d-46072bd46fd6\", \"content\": \"Director of Sales\", \"isCorrect\": true },\n          { \"ansId\": \"917f8d86-efed-437d-a9a5-e4e0f8d297ac\", \"content\": \"Social Worker\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Second Chance, The\",\n        \"quizId\": \"78512b79-a7b5-40d1-9c92-f6d94109e2cc\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"561a0eb1-9674-4dd8-9fe1-c2d62cbf0c2c\", \"content\": \"General Manager\", \"isCorrect\": true },\n          { \"ansId\": \"22854bea-6f64-49af-8ff8-afa957300552\", \"content\": \"Help Desk Operator\", \"isCorrect\": false },\n          { \"ansId\": \"0fe7abf8-9beb-4635-8c0d-9a04959a59fa\", \"content\": \"Editor\", \"isCorrect\": true },\n          { \"ansId\": \"c20441f3-f618-4435-bbd6-daf45f9c4a24\", \"content\": \"Senior Cost Accountant\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Lupin III: The Castle Of Cagliostro (Rupan sansei: Kariosutoro no shiro)\",\n        \"quizId\": \"2d448eca-3023-48d4-a04b-75d29ad596cc\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"bb5b56d5-a8bd-43c6-9020-42a46b0460f6\", \"content\": \"Accounting Assistant IV\", \"isCorrect\": false },\n          { \"ansId\": \"ad1461a9-921e-4f74-81a4-764ff547cb6e\", \"content\": \"Research Associate\", \"isCorrect\": false },\n          { \"ansId\": \"5879da46-4380-4301-8f94-fb96e1a68161\", \"content\": \"Account Executive\", \"isCorrect\": false },\n          { \"ansId\": \"16c85298-4938-446f-aba0-e4809713451a\", \"content\": \"Pharmacist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Perfect Couple, A\",\n        \"quizId\": \"22fddc3f-2115-4ed0-9bbc-12d58ac638da\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"186cd5aa-2e82-4159-b499-a3f05e9eb364\", \"content\": \"Clinical Specialist\", \"isCorrect\": true },\n          { \"ansId\": \"9f8f41d3-3a7c-46cb-a206-faf4bc64b9bb\", \"content\": \"Project Manager\", \"isCorrect\": true },\n          { \"ansId\": \"10c3a1e8-a8b6-4f08-86eb-fac9834c782b\", \"content\": \"Software Test Engineer I\", \"isCorrect\": true },\n          { \"ansId\": \"51baaacd-89c2-4e7c-b9c5-9dfb26e317a9\", \"content\": \"VP Product Management\", \"isCorrect\": false }\n        ]\n      }\n    ]\n  },\n  {\n    \"quizTestId\": \"d993c4c1-eade-4bb9-9035-52b4e4c9bab7\",\n    \"title\": \"Dr\",\n    \"description\": \"Impl other limb length\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Swarm, The\",\n        \"quizId\": \"adfff736-a170-4c04-8cc4-f76105e24d93\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"833a281d-41c1-4d8f-96b9-4770343c2022\", \"content\": \"Social Worker\", \"isCorrect\": false },\n          { \"ansId\": \"02a0d819-7e85-44c8-8a1c-c074cebf2656\", \"content\": \"Director of Sales\", \"isCorrect\": true },\n          { \"ansId\": \"8d8d131f-0f31-4181-8218-c296791f9edd\", \"content\": \"Computer Systems Analyst IV\", \"isCorrect\": false },\n          { \"ansId\": \"18bcc77a-a00c-48ac-9eca-bf52ad6111e3\", \"content\": \"Legal Assistant\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"The Lost Squadron\",\n        \"quizId\": \"ed03941f-f7bf-4906-87ca-28b0b41130c2\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"7a286762-b58f-40d0-9bf0-1a49fd166c6c\", \"content\": \"Financial Analyst\", \"isCorrect\": true },\n          { \"ansId\": \"da29255a-61f9-47be-9c28-9b1273f10366\", \"content\": \"Librarian\", \"isCorrect\": false },\n          { \"ansId\": \"ac25e01b-1feb-4426-b755-680f202519de\", \"content\": \"Environmental Tech\", \"isCorrect\": false },\n          { \"ansId\": \"629f0b0b-0dac-40da-818a-92268b78fa04\", \"content\": \"Automation Specialist IV\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"F.I.S.T.\",\n        \"quizId\": \"323b1df2-3844-4c49-aabb-003503b8db53\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"e056a1d9-f1ca-426d-a2d6-f73562b3f46c\", \"content\": \"Statistician II\", \"isCorrect\": false },\n          { \"ansId\": \"9eec34ec-1239-4efc-8d43-5741abe643f9\", \"content\": \"Account Representative IV\", \"isCorrect\": false },\n          { \"ansId\": \"4431d20e-3720-4897-b43d-abe346c6d537\", \"content\": \"Web Designer III\", \"isCorrect\": true },\n          { \"ansId\": \"7217fc1c-4cdb-492c-b51a-08583fc2d538\", \"content\": \"VP Accounting\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Cruise, The\",\n        \"quizId\": \"9c60b41a-a444-43ec-a407-64309a691e26\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"e6ea7953-00af-4e48-9714-cd9687015b79\", \"content\": \"Staff Scientist\", \"isCorrect\": false },\n          { \"ansId\": \"f76f16bc-a9be-4664-8b41-75327601f210\", \"content\": \"Clinical Specialist\", \"isCorrect\": false },\n          { \"ansId\": \"bbead46d-1e1a-490d-b5bf-891580ecc053\", \"content\": \"Administrative Assistant IV\", \"isCorrect\": false },\n          { \"ansId\": \"acc94740-7c19-4001-be95-194727ad2c54\", \"content\": \"Technical Writer\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Endeavour\",\n        \"quizId\": \"3e3ad603-fca7-4af8-b28b-d973f8238b18\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"7e6ca09b-b580-478d-a85a-5532db1fdc2e\", \"content\": \"Account Representative II\", \"isCorrect\": true },\n          { \"ansId\": \"e2661b62-4f46-4548-8e95-2e2eb4aa21fd\", \"content\": \"Chemical Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"84e7e797-5973-4944-9d62-47e70813b56c\", \"content\": \"Software Consultant\", \"isCorrect\": true },\n          { \"ansId\": \"e3716635-decf-4bdf-98ce-49707e1edfa7\", \"content\": \"Automation Specialist I\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"A Rumor Of War\",\n        \"quizId\": \"47fc7b78-ea7e-4ffa-8139-6a3c76a72632\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"328953d3-d3eb-43b3-92a2-699125d02e59\", \"content\": \"Dental Hygienist\", \"isCorrect\": true },\n          { \"ansId\": \"20114b36-40bb-4531-9677-ea48f39bc76a\", \"content\": \"Geologist III\", \"isCorrect\": true },\n          { \"ansId\": \"873fe354-3a2d-4c0b-99df-3563f948f520\", \"content\": \"VP Sales\", \"isCorrect\": false },\n          { \"ansId\": \"f85e1315-a099-4fd8-8314-2781f7b40592\", \"content\": \"Business Systems Development Analyst\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Quick and the Dead, The\",\n        \"quizId\": \"a2d26f3b-55a4-4cb5-ab84-d1d27240ffb8\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"b51960f6-37e4-4819-bdec-a71ed5a54e36\", \"content\": \"Project Manager\", \"isCorrect\": false },\n          { \"ansId\": \"4a09dc0a-02a7-47bf-9a6b-cebf0924b227\", \"content\": \"Information Systems Manager\", \"isCorrect\": true },\n          { \"ansId\": \"fc392422-9e94-4b80-b771-d8da016ba6e6\", \"content\": \"Help Desk Operator\", \"isCorrect\": true },\n          { \"ansId\": \"e2611c98-aed2-45d5-9161-2e2137791f33\", \"content\": \"Sales Associate\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Constantine\",\n        \"quizId\": \"cd9dc684-4977-4a19-ace6-e7c97bc2dfd5\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"3eb33549-3eb8-4730-98c0-e20d6d18c3a6\", \"content\": \"Sales Associate\", \"isCorrect\": false },\n          { \"ansId\": \"0544b99e-b483-49be-a5fe-03d7b7b35086\", \"content\": \"Account Representative II\", \"isCorrect\": false },\n          { \"ansId\": \"fb233412-01b3-48dc-b074-168d3e7e4b6d\", \"content\": \"Senior Sales Associate\", \"isCorrect\": true },\n          { \"ansId\": \"d05ac9c2-3942-4bd2-b666-b76eba22634a\", \"content\": \"Biostatistician IV\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Borderland\",\n        \"quizId\": \"36b3c0a3-777f-4412-9ce3-5b64e01bf8c7\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"8dc017e1-6725-4f71-a6b1-007a9824281c\", \"content\": \"VP Accounting\", \"isCorrect\": false },\n          { \"ansId\": \"2567e69e-370a-44d7-af47-e08d8431d4c5\", \"content\": \"Account Representative III\", \"isCorrect\": false },\n          { \"ansId\": \"9e644531-6de6-4b39-a093-ebd32b70c944\", \"content\": \"Safety Technician II\", \"isCorrect\": true },\n          { \"ansId\": \"24ed478e-2087-4304-9bc5-49da82877547\", \"content\": \"Food Chemist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Man Escaped, A (Un  condamné à mort s'est échappé ou Le vent souffle où il veut)\",\n        \"quizId\": \"9835715a-c2c4-4973-8838-d02fa953354a\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"60e83787-fa2d-4838-a3ca-fa4fa478708d\", \"content\": \"Systems Administrator II\", \"isCorrect\": false },\n          { \"ansId\": \"f96b5b77-8c09-45bb-befd-e887e7802b5f\", \"content\": \"Database Administrator I\", \"isCorrect\": true },\n          { \"ansId\": \"9a12806f-c0f3-4fc9-81e4-840fd4c66fc7\", \"content\": \"Systems Administrator II\", \"isCorrect\": false },\n          { \"ansId\": \"cac935a3-8e0f-4824-9a84-be426f83cf44\", \"content\": \"Office Assistant II\", \"isCorrect\": false }\n        ]\n      }\n    ]\n  },\n  {\n    \"quizTestId\": \"460cbdb4-9b3a-4b64-8a4c-57e8ba1fc1f8\",\n    \"title\": \"Rev\",\n    \"description\": \"Detach ret photocoag NOS\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Ben\",\n        \"quizId\": \"6561ce6f-3bcd-48e6-9e99-ec29949e67a5\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"7102b4b7-50d5-4aa7-b60a-43db7c8e8deb\", \"content\": \"Senior Developer\", \"isCorrect\": false },\n          { \"ansId\": \"a65eda58-d56a-4f04-a604-0821d64985d9\", \"content\": \"Financial Advisor\", \"isCorrect\": false },\n          { \"ansId\": \"c25b8194-adb7-4910-920f-5009f323317e\", \"content\": \"Librarian\", \"isCorrect\": false },\n          { \"ansId\": \"7ffeb767-93ac-42bb-8694-92f364dba76d\", \"content\": \"Community Outreach Specialist\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Terminal Velocity\",\n        \"quizId\": \"15c64c03-b61b-4301-8aac-3f5f254756ff\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"eff49c0e-489a-4ccd-ab53-445ff2f20a07\", \"content\": \"VP Sales\", \"isCorrect\": true },\n          { \"ansId\": \"ed6d6060-dc23-4cfd-b119-9a0b0b2414aa\", \"content\": \"Project Manager\", \"isCorrect\": true },\n          { \"ansId\": \"f08f2149-10b4-42cc-9ec9-7da6ed9deea0\", \"content\": \"Design Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"ed216ad8-460b-48a8-babe-83c6383a352f\", \"content\": \"Registered Nurse\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Glory\",\n        \"quizId\": \"97f108e3-2b20-44c3-ace9-9048406c6cee\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"4ddd0636-b7c7-479b-9bef-4fbdb86dd4f4\", \"content\": \"Desktop Support Technician\", \"isCorrect\": true },\n          { \"ansId\": \"3e5c03b3-50c5-4421-b2b0-82d71fa3cb5c\", \"content\": \"Database Administrator IV\", \"isCorrect\": false },\n          { \"ansId\": \"122e5071-b618-4b7f-a57a-40b390ab770f\", \"content\": \"Product Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"3f68149f-7aba-48ad-ac22-d416f25797e3\", \"content\": \"Financial Advisor\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Fuga de cerebros\",\n        \"quizId\": \"7e7a11f9-bf2e-4bb5-b6e9-0418ee6ae363\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"cb93a0e6-43cd-441d-9b0e-68ed0b34abb4\", \"content\": \"Speech Pathologist\", \"isCorrect\": true },\n          { \"ansId\": \"8a06f55d-d1bd-42b5-a1c2-8d7fdcf4d524\", \"content\": \"Structural Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"d6e5291f-8523-4985-965d-c63531f7ea81\", \"content\": \"Programmer I\", \"isCorrect\": false },\n          { \"ansId\": \"c3854109-398a-44f8-a2e4-46ddebd1b0df\", \"content\": \"Assistant Manager\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Cheech & Chong's Nice Dreams\",\n        \"quizId\": \"f3bd750f-427e-4875-b985-a50e504439cc\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"e545bec8-efc7-4bd1-a0dd-3018d3f58949\", \"content\": \"Web Designer IV\", \"isCorrect\": false },\n          { \"ansId\": \"3a5cd4c8-5de5-444f-976b-431c139928fd\", \"content\": \"Administrative Officer\", \"isCorrect\": true },\n          { \"ansId\": \"04503ff5-e809-4301-8854-b60ad8892769\", \"content\": \"Human Resources Assistant I\", \"isCorrect\": true },\n          { \"ansId\": \"95ad2eaf-9d34-44af-9c69-02c954a07c80\", \"content\": \"Human Resources Assistant II\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Filth\",\n        \"quizId\": \"8f1b934e-b515-4c14-8a98-5304d023c29c\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"581dc5db-55a3-4a70-b556-c913cd26103a\", \"content\": \"Database Administrator II\", \"isCorrect\": true },\n          { \"ansId\": \"8c20b5fb-1cff-4f71-8848-3f1f089039af\", \"content\": \"Professor\", \"isCorrect\": false },\n          { \"ansId\": \"55e52160-4834-4020-9747-ae39dcf1aab7\", \"content\": \"Internal Auditor\", \"isCorrect\": true },\n          { \"ansId\": \"81801059-0216-49be-b315-a0b49f706b8b\", \"content\": \"VP Quality Control\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Those Magnificent Men in Their Flying Machines\",\n        \"quizId\": \"9ce4d509-f780-4c1b-af24-1ca4425a10a7\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"1cce8c1f-50c9-4bf4-a6ea-e2dc051fddfc\", \"content\": \"Quality Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"91393bc9-9e9a-4c87-baff-b4daae540092\", \"content\": \"Compensation Analyst\", \"isCorrect\": false },\n          { \"ansId\": \"cf26dd0b-6b7e-4a78-9a21-7de6f635a768\", \"content\": \"Editor\", \"isCorrect\": false },\n          { \"ansId\": \"33592cb3-43c5-40f8-af37-3fd1bba13f04\", \"content\": \"Software Test Engineer II\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Autobiography of Miss Jane Pittman, The\",\n        \"quizId\": \"d1689e98-6cb7-4c26-a946-a37fe48aed0c\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"17cee8e3-967f-4131-bebb-6c5d45e53cfc\", \"content\": \"Product Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"83d06a86-8fcb-45bd-81c0-6336e8650eee\", \"content\": \"Analyst Programmer\", \"isCorrect\": true },\n          { \"ansId\": \"df81c56d-759f-4864-adad-985b444ed42a\", \"content\": \"GIS Technical Architect\", \"isCorrect\": false },\n          { \"ansId\": \"d3cd5ef0-c882-4e4a-aca2-07d88a9c6b24\", \"content\": \"Structural Engineer\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Near Dark\",\n        \"quizId\": \"2cfc5384-37c3-4204-b854-dfed47a41069\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"304545c3-a335-4c7d-aed8-4d3442c08f5b\", \"content\": \"Dental Hygienist\", \"isCorrect\": false },\n          { \"ansId\": \"df1eea0e-c07a-484a-be02-87ff78c7ba5b\", \"content\": \"Marketing Manager\", \"isCorrect\": true },\n          { \"ansId\": \"306ee069-0dc9-4a8f-a1d3-c10944fed4b0\", \"content\": \"Geological Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"6bc3f118-31fc-475d-87fa-4b8ab5012ef5\", \"content\": \"Financial Analyst\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Return of Swamp Thing, The\",\n        \"quizId\": \"db0d4905-983b-40bf-b621-ed162e5faa4d\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"af8d9c21-1138-4e82-bf14-f54a67ed3fe6\", \"content\": \"Registered Nurse\", \"isCorrect\": true },\n          { \"ansId\": \"29c711b3-d2d5-4f0e-b889-a9d7e2e6879f\", \"content\": \"Financial Advisor\", \"isCorrect\": true },\n          { \"ansId\": \"8b12aad2-d737-4b86-9949-edf1cd01c815\", \"content\": \"Health Coach III\", \"isCorrect\": false },\n          { \"ansId\": \"ec7c3f5c-db99-4dc7-85ee-76e6eadceac1\", \"content\": \"Community Outreach Specialist\", \"isCorrect\": true }\n        ]\n      }\n    ]\n  },\n  {\n    \"quizTestId\": \"f32edc8a-2025-4f23-9f31-1f3d8dd64cf8\",\n    \"title\": \"Mr\",\n    \"description\": \"Removal vulvar FB\",\n    \"lsQuizz\": [\n      {\n        \"content\": \"Forest Warrior\",\n        \"quizId\": \"e71de4cf-a997-41c2-8912-377e9061db00\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"6350e491-4fb8-405e-9c19-3bd984b74e68\", \"content\": \"Internal Auditor\", \"isCorrect\": false },\n          { \"ansId\": \"bf37313e-baa1-4125-9a4a-953a320b22c7\", \"content\": \"Editor\", \"isCorrect\": true },\n          { \"ansId\": \"2ea7eaa3-58d7-4fef-bfa6-9441b30c9285\", \"content\": \"Research Assistant III\", \"isCorrect\": true },\n          { \"ansId\": \"858de55b-ad23-48c6-9129-b69a8a741302\", \"content\": \"Account Executive\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Charms for the Easy Life\",\n        \"quizId\": \"0b1df407-4cfd-425f-ab39-a40dc08d130a\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"5eb546ec-f17e-46a3-ac1d-99004eeead9c\", \"content\": \"Administrative Assistant II\", \"isCorrect\": false },\n          { \"ansId\": \"32efd4ff-1a73-4e57-87e0-8c116ddac0e1\", \"content\": \"Senior Developer\", \"isCorrect\": true },\n          { \"ansId\": \"18b1b64b-5863-49a7-9702-fad8ede5552b\", \"content\": \"Food Chemist\", \"isCorrect\": true },\n          { \"ansId\": \"e54f7f8b-aa4f-45a1-a4ee-99ba73d31ea5\", \"content\": \"VP Accounting\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Carey Treatment, The\",\n        \"quizId\": \"80e24877-39a1-4bc0-9144-7e8f9368debb\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"313d1d7a-c6c1-489d-b835-0083aa42d737\", \"content\": \"Developer I\", \"isCorrect\": true },\n          { \"ansId\": \"fdbad029-a418-4fb9-8411-7f8a7423130e\", \"content\": \"Desktop Support Technician\", \"isCorrect\": true },\n          { \"ansId\": \"2bbb4bbd-1bf5-4352-8a06-1ab7a4373fe7\", \"content\": \"Assistant Professor\", \"isCorrect\": false },\n          { \"ansId\": \"2b2a3f6e-00fc-4a06-9306-6ed65c5a5224\", \"content\": \"Design Engineer\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Godzilla 1985: The Legend Is Reborn (Gojira) (Godzilla) (Return of Godzilla, The)\",\n        \"quizId\": \"52cd8e74-f62e-4889-b702-bb402feae4dd\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"2b65bdb8-b8d2-475f-a81f-7575bb0ca696\", \"content\": \"Legal Assistant\", \"isCorrect\": false },\n          { \"ansId\": \"4a307446-3783-445e-8dc8-cef4bc5f477a\", \"content\": \"Nuclear Power Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"54e74b90-6592-4488-b139-1cc12556fc16\", \"content\": \"Administrative Assistant IV\", \"isCorrect\": true },\n          { \"ansId\": \"e2249dd5-fc9d-43db-b0bd-7ab7b4abd878\", \"content\": \"Junior Executive\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"JFK: The Smoking Gun\",\n        \"quizId\": \"87785cb7-007c-412f-ba96-169462e52676\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"db7a667d-ba07-4f84-9f43-019e5211bfdc\", \"content\": \"Structural Analysis Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"4e9e3776-0ea2-45a3-b912-613f00c52276\", \"content\": \"Senior Quality Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"0bb3ba67-94c5-467a-ae66-a92d5c4fd345\", \"content\": \"Electrical Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"12311e0a-ab89-4c20-ae68-74476fa42f04\", \"content\": \"VP Sales\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"The Expelled\",\n        \"quizId\": \"80d053c0-ebfc-41bc-bdb2-03948f0c04fc\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"e4f6588f-a387-4501-844d-a96c8a8185b6\", \"content\": \"Social Worker\", \"isCorrect\": false },\n          { \"ansId\": \"42250c76-deca-4c16-9254-a91d3bed55fc\", \"content\": \"Senior Developer\", \"isCorrect\": true },\n          { \"ansId\": \"0f010940-c49d-4b4a-a30b-59049104f326\", \"content\": \"Marketing Assistant\", \"isCorrect\": true },\n          { \"ansId\": \"fe287c75-fe5b-4bd7-aab1-263f6f5e2c91\", \"content\": \"Recruiter\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Pootie Tang\",\n        \"quizId\": \"f51f75ab-5a24-45ba-bec5-9e535a542ea0\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"7d7aac68-595a-4c60-bbb4-b14a6a1969f4\", \"content\": \"Assistant Professor\", \"isCorrect\": true },\n          { \"ansId\": \"4e29039d-fe71-425e-a2c1-6f46de569099\", \"content\": \"Programmer III\", \"isCorrect\": false },\n          { \"ansId\": \"a41e190c-7491-4423-b6cf-73250f93c707\", \"content\": \"Financial Analyst\", \"isCorrect\": true },\n          { \"ansId\": \"916ddd93-6dbd-4a50-a341-d72f5def1623\", \"content\": \"Assistant Manager\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Eichmann\",\n        \"quizId\": \"6e517662-dbd7-403a-853d-0471378cd08a\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"6788b270-3a8a-4ea7-9d8a-ecd22676965f\", \"content\": \"Account Coordinator\", \"isCorrect\": false },\n          { \"ansId\": \"81f02e77-6439-4676-ae0f-c0d2d206a83e\", \"content\": \"Database Administrator II\", \"isCorrect\": true },\n          { \"ansId\": \"b3f14b8d-2c2f-45f3-895b-0f58c3f8b2d5\", \"content\": \"Programmer II\", \"isCorrect\": true },\n          { \"ansId\": \"1c841435-b722-4699-b18a-fb0629865c5b\", \"content\": \"Marketing Assistant\", \"isCorrect\": true }\n        ]\n      },\n      {\n        \"content\": \"Never Sleep Again: The Elm Street Legacy\",\n        \"quizId\": \"2783f4f1-5d46-444f-9677-961004cc18e2\",\n        \"isMutiple\": true,\n        \"answer\": [\n          { \"ansId\": \"8a8da363-bd41-451b-86ee-595ddc47681a\", \"content\": \"Internal Auditor\", \"isCorrect\": false },\n          { \"ansId\": \"4f802fbb-dec9-4916-9755-891cdf64ccec\", \"content\": \"Senior Quality Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"d782a868-6833-49c1-83a9-910f0074ab33\", \"content\": \"Software Test Engineer II\", \"isCorrect\": true },\n          { \"ansId\": \"0bf98cc6-9bd3-4b95-8758-950209c132bb\", \"content\": \"Operator\", \"isCorrect\": false }\n        ]\n      },\n      {\n        \"content\": \"Intouchables\",\n        \"quizId\": \"6d4b3cc8-32e0-4446-ab03-ad0521a6ecfc\",\n        \"isMutiple\": false,\n        \"answer\": [\n          { \"ansId\": \"dcb070af-38fa-4bab-9914-c39095053e25\", \"content\": \"Human Resources Manager\", \"isCorrect\": false },\n          { \"ansId\": \"9598664e-1c4d-4741-a4e6-cdf59bbbdc76\", \"content\": \"Nuclear Power Engineer\", \"isCorrect\": false },\n          { \"ansId\": \"fb8b6b4c-9693-4f13-87f6-74deb3d57f2a\", \"content\": \"Geological Engineer\", \"isCorrect\": true },\n          { \"ansId\": \"aba553cc-ed6b-4283-a3ab-b5eba2408e82\", \"content\": \"Professor\", \"isCorrect\": false }\n        ]\n      }\n    ]\n  }\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "f6ed4a14b5584c1d"
            ]
        ]
    },
    {
        "id": "1268d66a46c86bc1",
        "type": "function",
        "z": "950305dd92b2f548",
        "name": "new payload 1",
        "func": "msg.payload = \n  {\"id\":\"285498f5-3486-434d-a459-bedb6bcea7ce\",\"title\":\"Math Quizz\",\"description\":\"Childrens, You must do this quizz by yourself. Becareful, we have some question with multiple choice in this test.\",\"lsQuizz\":{\"48c9945c-c048-4cdc-99c3-249c4a320386\":{\"id\":\"48c9945c-c048-4cdc-99c3-249c4a320386\",\"content\":\"5 + 3 = ?\",\"isMutiple\":false,\"answer\":[{\"id\":\"9b8da931-b66c-4ab5-8508-c324c12c6160\",\"content\":\"2\"},{\"id\":\"ed6c7f93-2aa2-4c6b-9ce3-9ccc6fe0d878\",\"content\":\"4\"},{\"id\":\"41023bff-94d2-46b3-9fae-24f4ed65aff5\",\"content\":\"6\"},{\"id\":\"e59a4d41-19f8-44b5-aa42-92058fb6cee9\",\"content\":\"8\"}]},\"46229c41-b896-493b-b32b-d890115efc3e\":{\"id\":\"46229c41-b896-493b-b32b-d890115efc3e\",\"content\":\"10 * 2 = ?\",\"isMutiple\":false,\"answer\":[{\"id\":\"c3fd23b1-527f-4fde-9750-ec9eb8164330\",\"content\":\"20\"},{\"id\":\"9e617aaa-eb6f-47ad-8318-0b45398b7360\",\"content\":\"15\"},{\"id\":\"c2cd4d66-d977-46ff-8128-5c669fcb1357\",\"content\":\"10\"},{\"id\":\"a703b001-80b1-442e-83ce-e20f1102f023\",\"content\":\"30\"}]},\"2ce23d6a-64ee-4ba8-8cd6-1fc1a0a09e79\":{\"id\":\"2ce23d6a-64ee-4ba8-8cd6-1fc1a0a09e79\",\"content\":\"5 + 2 = ?\",\"isMutiple\":true,\"answer\":[{\"id\":\"bfd34144-1e1b-47a6-a0c4-2e5933a601ce\",\"content\":\"10 - 3\"},{\"id\":\"9752b1c3-8e06-4992-b35e-1ec731026b27\",\"content\":\"15 - 6\"},{\"id\":\"03c001dd-f3fe-4ed6-92dd-8c14b3e70aba\",\"content\":\"3 + 4\"},{\"id\":\"515fddec-ced3-40ea-b1df-4571db6650eb\",\"content\":\"2 + 10\"}]}}}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "9b078eb4561d0e84"
            ]
        ]
    }
]